.site-container {
  position: relative;
  min-height: 100vh;
  background-image: url('../assets/gifs/waves.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-container {
  position: relative;
  z-index: 1;
  color: white;
  padding-top: 0; /* Ensure no extra padding */
}

.text-center {
  margin-top: 0; /* Remove any top margin */
}

.header {
  padding: 60px;
  text-align: right;
  color: white;
  font-size: 15px;
}

.box7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(100%);
  opacity: 100%;
  border-radius: 25px;
  flex-grow: 1; /* Allow flexible resizing if needed */
  box-sizing: border-box; /* Include padding in width calculations */
  max-width: 800vh;
  margin: 10px;
}


.textOnTheInsideR {
  display: flex;
  justify-content: space-between;  /* Evenly space the items horizontally */
  gap: 30px;
  align-items: center;            /* Vertically center the items */
  margin-right: 10vh;             /* Right margin for positioning */
  font-size: 25px;
  width: 100%;                    /* Full width */
}

.textOnTheInsideR > div:first-child {
  margin-right: auto;            /* Push the first div to the left */
}

.textOnTheInsideR > div {
  margin-left: 10px;              /* Optional: space between other items */
}

.textOnTheInsideR2 {
  display: flex;
  justify-content: space-between;  /* Evenly space the items horizontally */
  gap: 90px;
  align-items: center;            /* Vertically center the items */
  margin-right: 10vh;             /* Right margin for positioning */
  font-size: 20px;
  width: 100%;                    /* Full width */
  margin-bottom: 35px;
}

.textOnTheInsideR2 > div:first-child {
  margin-right: auto;            /* Push the first div to the left */
}

.textOnTheInsideR2 > div {
  margin-left: 10px;              /* Optional: space between other items */
}

.rightButton {
  right: 0px;
  position: relative;
  justify-content: right;
  margin: 3vh;
  /* padding: 10vh; */
}

.box6 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(100%);
  opacity: 100%;
  border-radius: 25px;
  flex-grow: 1; /* Allow flexible resizing if needed */
  box-sizing: border-box; /* Include padding in width calculations */
  max-width: 800vh;
  height: 150vh;
}

@media (max-width: 768px) {
  .box6 {
      flex-direction: column;
      align-items: center;
  }

  .box7 {
    flex-direction: column;
    align-items: center;
}

  .textOnTheInsideL {
      max-width: 80%;
      margin: 0 auto;
  }

  .textOnTheInsideR {
      text-align: right;
  }


}